@import "../../../../styles/colors.module.scss";

$mainFontSize: 28px;
$largeFontSize: 44px;
$largerFontSize: 66px;
$smallFontSize: 20px;
$smallerFontSize: 18px;

@mixin textStyles($color: white, $size: $mainFontSize, $weight: 700) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

.container {
  padding: 4rem 0 9rem;
}

.intro {
  @include textStyles($size: $largeFontSize);
}

.title {
  @include textStyles($color: $limeGreen, $size: $largerFontSize);
}

.location {
  @include textStyles($size: $mainFontSize);
}

.searchBar {
  border-radius: 0.5rem;
  width: 24rem;
  padding: 0.94rem;
}

.searchInput {
  outline: none;
  &:focus {
    box-shadow: none;
  }
}

.createAccountMessage {
  @include textStyles($size: $smallerFontSize);
}

.btnRegister {
  @include textStyles($color: $darkGreen, $size: 18px);
  background: $limeGreen;
  border-radius: 8px;
  padding: 0.6375rem 1.875rem;

  &:hover {
    background: #001b0b;
    color: $limeGreen;
    transition: 0.5s;
    border-color: #001b0b;
  }
}

@media (max-width: 577px) {
  .intro {
    @include textStyles($size: $smallFontSize);
  }

  .title {
    @include textStyles($color: $limeGreen, $size: $mainFontSize);
  }

  .location {
    @include textStyles($size: $smallFontSize);
  }

  .searchBar {
    padding: 10px;
    width: 330px;
  }

  .searchInput {
    font-size: 14px;
  }

  .createAccountMessage {
    @include textStyles($size: 14px);
    text-align: center;
  }

  .btnRegister {
    @include textStyles($color: $darkGreen, $size: 16px);
    padding: 0.4375rem 0.875rem;
  }
}

@media (max-width: 330px) {
  .intro {
    @include textStyles($size: smallerFontSize);
  }

  .title {
    @include textStyles($color: $limeGreen, $size: $mainFontSize);
  }

  .location {
    @include textStyles($size: $smallerFontSize);
  }

  .searchBar {
    padding: 8px;
    width: 270px;
    gap: 0.2rem;
  }

  .searchInput {
    font-size: 12px;
  }
}
