@import "../../../../styles/colors.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.navBtn {
  border-color: transparent;
  border-radius: 8px;
  color: $darkGreen;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}

.navBtnLogin {
  background: #e8e8e8;

  &:hover {
    background: $darkGreen;
    color: #d9d9d9;
    transition: 0.5s;
  }
}

.navBtnRegister {
  background: $limeGreen;

  &:hover {
    background: $darkGreen;
    color: $limeGreen;
    transition: 0.5s;
  }
}
