@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
main {
  background-color: #ffffff;
  min-height: 100vh;
  color: #000000;
  p {
    margin: 0;
  }
}

.splide__pagination {
  position: absolute;
  bottom: -40px !important;
  .splide__pagination__page.is-active {
    background: #19d366;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #19d366;
  border-radius: 40px;
}
