* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: #ffffff;
  min-height: 100vh;
  color: #000000;
  p {
    margin: 0;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #19d366;
  border-radius: 40px;
}
