@import "../../../../styles/colors.module.scss";

.robotoFont {
  font-family: "Roboto", sans-serif;
}
.noDecoration {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.greenBackground {
  background-color: $lightGreen;
}

.yellowBackground {
  background-color: $paleYellow;
}
