@import "../../../../styles/colors.module.scss";

.container {
  background: $darkGreen;
}

.subTitle {
  font-size: 1.375rem;
  font-style: italic;
  color: white;
}

.btn {
  border-color: transparent;
  background-color: $lightGreen;
  border-radius: 8px;
  color: $darkGreen;
  font-size: 18px;
  &:hover,
  &:focus {
    border-color: transparent;
    transition: 0.5s;
  }
}

.yellowBackground {
  background-color: $paleYellow;
  &:hover {
    background: $goldenYellow;
    color: $darkGreen;
  }
}

.greenBackground {
  background-color: $lightGreen;
  &:hover {
    background: $limeGreen;
    color: $darkGreen;
  }
}